<tr class="entrada1">
	<td colspan="1" class=" propertyColumn ">
		{{= label}}
	</td>
</tr>
<tr class="entrada1" >
	<td colspan="1" class=" propertyColumn ">
		<input name="{{= nome}}" {{if obrigatorio==true}} class="required" {{/if}} type="text" required="{{= obrigatorio}}" size="11" style="width: 140px;" maxlength="10" onblur="verifica_data(this);" onclick="event.cancelBubble=true;this.select();lcs(this)" onfocus="this.select();lcs(this)" onchange="" onkeypress="hide_calendar();return valida_tecla_data(this, event,'dd/MM/yyyy');" onkeyup="mascara_data(this,event,'dd/MM/yyyy');"  />
	</td>
</tr>
