<tr class="entrada1">
	<td colspan="1" class=" propertyColumn ">
		{{= label}}
	</td>
</tr>
<tr class="entrada1" >
	<td colspan="1" class=" propertyColumn ">
		<input type="text" {{if obrigatorio==true}} class="required" {{/if}} name="{{= nome}}" style="text-align: right; width: 294px;" onkeypress="if(valida_tecla_integer(this, event, true,true)) {;return true;} else {return false;}" onkeydown="return mascara_integer(this,event,false)" />
	</td>
</tr>
