<tr class="entrada1">
	<td colspan="1" class=" propertyColumn ">
		{{= label}}
	</td>
</tr>
<tr class="entrada1" >
	<td colspan="1" class=" propertyColumn ">
		<input type="text" style="width: 294px;" {{if obrigatorio==true}} class="required" {{/if}} name="{{= nome}}"/>
	</td>
</tr>
